<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log" >
	
  <targets>
	  
	  <!--    colored console-->
    <target name="std" xsi:type="ColoredConsole"
            layout="${time} ${logger:padding=-50} ${threadid:padding=3} ${message}" useDefaultRowHighlightingRules="false"/>
    <!--    file for trace-->
    <target xsi:type="File" name="all"
            fileName="${basedir}/logs/${shortdate}-all.log"
            archiveEvery="Day"
            archiveFileName="${basedir}/logs/{#####}-all.txt"
            archiveNumbering="Date"
            keepFileOpen="false">
            <layout xsi:type="LayoutWithHeaderAndFooter" 
                    header="================================================ Asv.Drones.Gbs Copyright ASV SOFT © 2023 ================================================" 
                    footer="================================================ Asv.Drones.Gbs Copyright ASV SOFT © 2023 ================================================" 
                    layout="${machinename} ${longdate} ${threadid:padding=3} ${level:padding=-5} ${logger:padding=-50} ${message} ${exception:format=tostring}"/>
    </target>
        <!--file for errors-->
    <target xsi:type="File" name="err"
        fileName="${basedir}/logs/${shortdate}-err.log"
        archiveEvery="Day"
        archiveFileName="${basedir}/logs/{#####}-err.txt"
        archiveNumbering="Date"
        keepFileOpen="false">
      <layout xsi:type="LayoutWithHeaderAndFooter"
                      header="================================================ Asv.Drones.Gbs Copyright ASV SOFT © 2023 ================================================"
                      footer="================================================ Asv.Drones.Gbs Copyright ASV SOFT © 2023 ================================================"
                      layout="${machinename} ${longdate} ${threadid:padding=3} ${level:padding=-5} ${logger:padding=-50} ${message} ${exception:format=tostring}"/>
    </target>
  </targets>

  <rules>
	    <logger name="*" minlevel="Trace" writeTo="std" />
        <logger name="*" minlevel="Trace" writeTo="all" />
        <logger name="*" minlevel="Warn" writeTo="err" />
  </rules>


</nlog>